<!-- BEGIN: ABOUTUS -->
<section class="about-us">
  
    <!-- CSS -->
    <link rel="stylesheet" href="{baseUrl}/css/modules/about_us.css">
    <!-- FONTS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  
  


    <section class="main">
      <div class="wraper">
        <div class="title container">
          <h2>JEWCATS FURNITURES DEVELOPERS</h2>
          <h3>One for all, all for one...
            <br>The art is not only painting, dancing or programming, but also PROGRAMMING TOGETHER
            <br>We all built this system, we all designed these layouts, and we all know WHO we are and WHERE we're standing
            <br>Thanks our mentor Trung Kien Ngo and Aptech family for many things we've never got before ♥
            <br>(ps: We all also expect you press F for respecting our deadline... btw :v)
            <br>Best regards!<br>
            <br>>-- JEWCATS TEAM --<
            <br><br>
            <p style="line-height:1">^-_____-^&nbsp&nbsp
            <br>(ฅ=ↀωↀ=)ฅ
            <br>(_____o____)&nbsp&nbsp
            <br>__/&nbspuU&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspuU&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<br></p>
          </h3>
        </div>


        <div class="container">
              <div class="row">
                  <div class="col-md-6 col-12 col-lg-4">
                      <div class=" text-center">
                          <img src="{baseUrl}/images/about_us/1.gif" class="rounded">
                          <h2>Viet Tuan Ha</h2>
                          <p class="xxx">Front-end Developer</p>
                          <p class="xxxx">TLU & APTECH VN</p>
                        
                          <p class="btn">
                            <a href="https://www.facebook.com/annie.noheart" target="_blank"><i class="fab fa-facebook-f"></i></a>
                           <a href="https://www.linkedin.com/in/tuan-ha-800a73184/" target="_blank"> <i class="fab fa-linkedin-in"></i></a>
                            <a href="https://github.com/tuanhaviet22" target="_blank"><i class="fab fa-github"></i></a>
                          </p>
                        </div>
                  </div>

                  <div class="col-md-6 col-12 col-lg-4">
                    <div class=" text-center">
                        <img src="{baseUrl}/images/about_us/2.gif" class="rounded">
                        <h2>Viet Phuong Bui</h2>
                        <p class="xxx">Fullstack Developer & Leader</p>
                        <p class="xxxx">UTC & APTECH VN</p>
                      
                        <p class="btn">
                          <a href="https://www.facebook.com/hailNull" target="_blank" ><i class="fab fa-facebook-f"></i></a>
                         <a href="#"> <i class="fab fa-linkedin-in"></i></a>
                          <a href="#"><i class="fab fa-github"></i></a>
                        </p>
                      </div>
                </div>

                <div class="col-md-6 col-12 col-lg-4">
                  <div class=" text-center">
                      <img src="{baseUrl}/images/about_us/3.gif" class="rounded">
                      <h2>Xuan Hanh Tran</h2>
                      <p class="xxx">Front-end Developer</p>
                      <p class="xxxx">APTECH VN</p>
                    
                      <p class="btn">
                        <a href="https://www.facebook.com/profile.php?id=100021159533199" target="_blank"><i class="fab fa-facebook-f"></i></a>
                       <a href="#"> <i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-github"></i></a>
                      </p>
                    </div>
              </div>


              

                  
              </div>

              <div class="row " style="margin-top : 4em ; ">
                <div class="col-md-6 col-12 col-lg-6">
                  <div class=" text-center">
                      <img src="{baseUrl}/images/about_us/4.gif" class="rounded">
                      <h2>Trong Nguyen Do</h2>
                      <p class="xxx">Back-end Developer</p>
                      <p class="xxxx">HACTECH & APTECH VN</p>
                    
                      <p class="btn">
                        <a href="https://www.facebook.com/nguyenpr9" target="_blank"><i class="fab fa-facebook-f"></i></a>
                       <a href="#" target="_blank"> <i class="fab fa-linkedin-in"></i></a>
                        <a href="#" target="_blank"><i class="fab fa-github"></i></a>
                      </p>
                    </div>
              </div>
              <div class="col-md-6 col-12 col-lg-6">
                <div class=" text-center">
                    <img src="{baseUrl}/images/about_us/5.gif" class="rounded">
                    <h2>Duc Anh Le</h2>
                    <p class="xxx">Designer & Tester</p>
                    <p class="xxxx">HUS VNU & APTECH VN</p>
                  
                    <p class="btn">
                      <a href="https://www.facebook.com/ObsidianWizard" target="_blank"><i class="fab fa-facebook-f"></i></a>
                     <a href="#" target="_blank"> <i class="fab fa-linkedin-in"></i></a>
                      <a href="#" target="_blank"><i class="fab fa-github"></i></a>
                    </p>
                  </div>
            </div>
              </div>
        </div>
      </div>
    </section>
</section>
<!-- END: ABOUTUS -->


