<!-- BEGIN: ADD -->
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{baseUrl}/admin/css/categories/add.css">

<!-- HTML -->
<form method="POST" enctype="multipart/form-data">
	<table>
		<tr>
			<td colspan="2"><h4>Add category</h4></td>
		</tr>
		<tr>
			<th>Name</th>
			<td>
				<input type="text" name="txtName" class="form-control">
			</td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" id="submit-btn" class="btn btn-primary" value="Add"></td>
		</tr>
		<tr>{msg}</tr>
	</table>
</form>
<!-- END: ADD -->