.products a{
  color: white;
}
.profucts a:hover {
  color: white;
}
.products .container-fluid{
  margin-top: 20px; 
}
.products .row{
    width: 100%;
    margin: 0px;
}

.products .row-rule{
    margin : 0 !important ;
}
.products .col-rule {
  padding: 0 !important ; 
}
.products .row-rule .col-md-6{
    padding: 0 !important ; 
}
.products #dt-col2{
	height: 100% ; 
}
.products #dt-col2 .row {
  margin: 0 ; 
}
.products h1{
    color: black ; 
    
}
.products .center-col1 li{
    color: black ;
}
.products .dt-request{
    
    display: block ; 
    width: 100%;
    height: 48px ;
    font-size: 13px ;
    background: #c72309 ; 
    border: none ; 
    border-radius: .2rem ;
    text-align: center ;
    padding-top : 15px ;
}
.products .center-col1{
    width: 100%;
    margin-bottom: 20px; 
    margin-top : 3px ;
    background: #2a2a2a ;
    border-radius: 5px ; 
    border: none ;
    padding: 1px;
    
}
.products h2{
    color: white ;
    padding: 8px; 
  
     font-size: 29px !important ;
}
.products li{
    list-style: none ;
    padding-left: 30px;
   
    
}
.products .dt-request{
  color:white !important;
  font-size: 15px;
}
.products .after-center-col1{
    
    margin-top : 1.5em  ; 
}
.products .after-center-col1 p{
    font-size: 13px;
    font-weight: 400;
    line-height: 1.6;
    padding: 10px;
    text-align: center;
}
.products .after-center-col1 img{
    width: 100%;
    
    opacity: 1;
    display: block ; 
    backface-visibility: hidden ;
    
}
.products .content-img{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: 10%;
    margin-left: 37px ; 
    /* left: 60%; */
    /* transform: translate(-50%, -10%); */
    -ms-transform: translate(-50%, -10%);
    /* text-align: center; */
    
}
.products .title{
    color: white ; 
    padding: 8px ; 
    font-size: 24px; 
}


/* Column 2  */
.products #dt-col2 img{
   width: 100%;
}

.products #x-child {
    margin-top: 3px  ;
 
}

/* ============== */




/* Hover Image Products */
.products .hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
.products .hover-name {
  width: 100%;
  line-height: 26px ;
}
.products .hover-name a{
  font-size: 16px;
}
.products .hovereffect .overlay {
  width: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: auto;
  bottom: 0;
  height: 50px ;  

  background: #79FAC4;
  color: #3c4a50;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
  visibility: hidden;

}

.products .hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

.products .hovereffect:hover img {
-webkit-transform: translate3d(0,-10%,0);
transform: translate3d(0,-10%,0);
}

.products .hovereffect span {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 12px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  float: left;
  margin: 0px;
  display: inline-block;
}

.products .hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
color: #fff;
border: 1px solid #fff;
margin: 50px 0 0 0;
background-color: transparent;
}
.products .hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}


.products .hovereffect p.icon-links a {
float: right;
color: #3c4a50;
font-size: 1.4em;
}

.products .hovereffect:hover p.icon-links a:hover,
.products .hovereffect:hover p.icon-links a:focus {
color: #252d31;
}

.products .hovereffect span,
.products .hovereffect p.icon-links a {
-webkit-transition: -webkit-transform 0.35s;
transition: transform 0.35s;
-webkit-transform: translate3d(0,200%,0);
transform: translate3d(0,200%,0);
visibility: visible;
}

.products .hovereffect p.icon-links a span:before {
display: inline-block;
padding: 8px 10px;
speak: none;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}


.products .hovereffect:hover .overlay,
.products .hovereffect:hover span,
.products .hovereffect:hover p.icon-links a {
-webkit-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);
}

.products .hovereffect:hover span {
-webkit-transition-delay: 0.05s;
transition-delay: 0.05s;
}

.products .hovereffect:hover p.icon-links a:nth-child(3) {
-webkit-transition-delay: 0.1s;
transition-delay: 0.1s;
}

.products .hovereffect:hover p.icon-links a:nth-child(2) {
-webkit-transition-delay: 0.15s;
transition-delay: 0.15s;
}

.products .hovereffect:hover p.icon-links a:first-child {
-webkit-transition-delay: 0.2s;
transition-delay: 0.2s;
}


  /* ======= */
  .products .mini-img img{
  width: 100%;

}
.products .mini-img span{
  position: absolute;
  bottom: 1em;
    margin-left: 36%;
}

