#nav-item-stf {
	font-weight: bold;
	border: 1px solid #DEE2E6;
	color: #0056B3;
}

#search-box {
	margin-top: 15px;
	margin-bottom: 5px;
}

.btn {
	width: 80px;
	margin-top: 15px;
	margin-bottom: 5px;
}

img {
	height: 50px;
}

table {
	margin-top: 20px;
	text-align: center;
}

h4 {
	text-align: center;
}

.status {
	width: 12px;
	height: 12px;
	display: inline-block;
	border-radius: 50%;
}
