<!-- BEGIN: EDIT -->
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{baseUrl}/admin/css/accounts/edit.css">

<!-- HTML -->
<form method="POST" enctype="multipart/form-data">
	<table>
		<tr>
			<td colspan="2"><h4>Edit account</h4></td>
		</tr>
		<tr>
			<th>Username</th>
			<td>
				<input type="text" name="txtUsn" value="{oldName}" class="form-control" disabled>
			</td>
		</tr>
		<tr>
			<th>Old Password</th>
			<td>
				<input type="password" name="txtOldPwd" class="form-control">
			</td>
		</tr>
		<tr>
			<th>New Password</th>
			<td>
				<input type="password" name="txtPwd" class="form-control">
			</td>
        </tr>
        <tr>
			<th>Confirm Password</th>
			<td>
				<input type="password" name="txtCnfPwd" class="form-control">
			</td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" id="submit-btn" class="btn btn-primary" value="Submit"></td>
		</tr>
		<tr>{msg}</tr>
	</table>
</form>
<!-- END: EDIT -->