#nav-item-ord {
	font-weight: bold;
	border: 1px solid #DEE2E6;
	color: #0056B3;
}

#search-box {
	margin-top: 15px;
	margin-bottom: 5px;
}

.btn {
	width: 80px;
	margin-top: 15px;
	margin-bottom: 5px;
}

img {
	height: 50px;
}

h4 {
    text-align: center;
}

.top-tbl {
    margin-top: 20px;
}

.top-tbl td {
    text-align: right;
}

.bottom-tbl {
    margin-top: 20px;
    text-align: center;
}